<div>
  <form (ngSubmit)="getComment()">
    <label for="number">Numeris</label>
    <input id="number" type="text" name="name" [(ngModel)]="carNumber">

    <button mat-raised-button>Tikrinti</button>
  </form>

  <table mat-table [dataSource]="comments" class="mat-elevation-z8">

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.text}} </td>
    </ng-container>

    <ng-container matColumnDef="positive">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.positive ? 'T' : 'N'}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['comment', 'positive'];"></tr>
  </table>

</div>
