#navbar {
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.5em;
    list-style: none;
    background-color: #EAF6F8;
    border-radius: 20px;
    border: 2px solid #FF914D;
  }
  
  #navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
  }
  
  // navigation links
  #navbar li {
    font-size: 1.23em;
    text-decoration: none;
    cursor: pointer;
  }
  
  // navigation link when a link is hovered over
  #navbar li:hover {
    color: #000000;
    text-decoration: underline;
  }