<nav id="navbar">
    <ul>
      <li>
        <button mat-raised-button *ngIf="currentRoute === '/view'" routerLink="/write">Rašyk atsiliepimą</button>
        <button mat-raised-button *ngIf="currentRoute === '/write'" routerLink="/view">Tikrink atsiliepimus</button>
      </li>
      <li>
        <button *ngIf="!userService.isLoggedIn.getValue()" mat-raised-button (click)="userService.logIn()">Prisijungti
        </button>
        <button *ngIf="userService.isLoggedIn.getValue()" mat-raised-button (click)="userService.logOut()">Atsijungti
        </button>
      </li>
    </ul>
</nav>
