<div>
    <a mat-button >< Back</a>
    <h3>Rašyk:</h3>
    <form action="#">
      <label for="number">Numeris</label>
      <input type="text" name="name">
  
      <label for="message">Message</label>
      <mat-form-field>
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      
  
    <input type="submit" value="Submit">
    </form>
</div>