h3 {
    text-align: center;
}

input[type=text], textarea {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(10, 10, 10);
    font-size: large;
    border: none;
    cursor: pointer;
}

input[type=submit], a {
    color: #e4e4b1;
    text-decoration: underline;
}

input[type=submit]:hover, a:hover {
    color: #fff;
}